/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Start Website CSS */
html {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
}

body {
  height: 100%;
}

a, p {
  color: black;
  padding-bottom: 1.5em;
  text-decoration: none;
}

h1 {
  font-size: 2.369em; /* 37.904 px */
  line-height: 0.949767834em; /* 36 px / 37.904 px */
  padding-bottom: 0.31658927em; /* 12 px / 37.904 px */
  font-weight: 700;
}

h2 {
  font-size: 1.777em; /* 28.432 px */
  line-height: 1.125492402em; /* 32 px / 28.432 px */
  padding-bottom: 0.562746201em; /* 16 px / 28.432 px */
  font-weight: 800;
}

h3 {
  font-weight: 900;
  padding-bottom: 0.6666666666em; /* 16 px / 24 px */
}

img,
video,
audio {
  max-width: 100%;
  display: block;
}

header {
  background: url('../img/mobile-coaster-3.png') top center no-repeat;
  background-size: cover;
}

main, section {
  padding: 1em;
}

main {
  background-color: #F8F8F8;
}

#menu-toggle-btn {
  font-size: 1em;
  font-weight: 1000;
}

#menu-icon {
  font-size: 1em;
}

/* A. HEADER */
@keyframes slideback {
  0% {margin-left: -100vw;}
  100% {margin-left: 0vw;}
}

@keyframes slideforw {
  0% {margin-left: 0vw;}
  100% {margin-left: -100vw;}
}

.header-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.hslide {
  min-width: 100vw;
  transform: translateX(-100vw);
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: linear;
}

.animate {
  transform: translateX(0vw);
}

/* A1. NAV */
@keyframes nav_anim {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes photo_info {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#menu-btn {
  padding: 24px 32px;
  font-size: 48px;
  background-color: transparent;
  border: none; outline: none;
  color: white;
}

#menu-btn:active {
  color: #ffcc33;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 99;
  padding: 24px 24px;
  font-size: 36px;
  background-color: black;
  border: none; outline: none;
  color: white;
}

#back-to-top:active {
  color: #ffcc33;
}

#back-to-top:hover {
  color: #ffcc33;
}

#nav-options {
  display: flex; /* toggle: flex */
  text-align: center;
  flex-direction: column;
  padding: 0;
  padding-bottom: 36px;
  animation-name: nav_anim;
  animation-duration: 3s;
}

#nav-options > li {
  height: 60px;
  display: table;
  background: rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

#nav-options > li > a {
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  padding: 18px 0;
}

#nav-options > li > a:hover {
  color: #ffcc33;
}
/* END NAV */

/* A2. Photo */
#myphoto-info {
  text-align: center;
  padding: 0em;
  animation-name: photo_info;
  animation-duration: 1.5s;
}

#myphoto-img {
  width: auto;
  height: 10.5em;
  padding: 1.5em 0em;
  margin: auto;
  animation-name: photo_info;
  animation-duration: 1.5s;
}

#myphoto-text {
  color: white;
}

#myphoto-text > li {
  padding-bottom: 6px;
}

#myphoto-text > li:last-child {
  padding-bottom: 18px;
}

#myphoto-name {
  font-size: 1.5em;
  font-weight: 500;
  text-transform: capitalize;
}

#myphoto-occu {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
}
/* END PHOTO */

/* A3. Social Media Icons */
#fb-ic {
  background-color: #3B5998;
}

#fb-ic > a {
  color: white;
}

#fb-ic > a:visited {
  color: white;
}

#ln-ic {
  background-color: #0077B5;
}

#ln-ic > a {
  color: white;
}

#ln-ic > a:visited {
  color: white;
}

#gh-ic {
  background-color: black;
}

#gh-ic > a {
  color: white;
}

#gh-ic > a:visited {
  color: white;
}

.social-links {
  padding: 1.125em 0em;
  text-align: center;
  animation-name: photo_info;
  animation-duration: 3s;
}

.social-links > li {
  margin: 0em 0.375em;
  width: 2.25em;
  height: 2.25em;
  border-radius: 1.125em;
  background-color: white;
  text-align: center;
  display: inline-block;
}

.social-links > li > a {
  font-size: 1em;
  padding-top: 0.625em;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
}

.social-links > li > a:hover {
  color: #ffcc33;
}

/* END HEADER */
.top-article {
  margin-bottom: 1.5em;
}

.whitesection {
  background-color: white;
  border-radius: 0.5em;
}

.title-seperator {
  width: 50%;
  border-top: medium solid #ffcc33;
  padding-bottom: 0.75em;
}

.section-icon {
  font-size: 48px;
  padding-bottom: 24px;
}

#talents {
  background-color: white;
  text-align: center;
}

/* For iPads and Larger Tablets */
@media screen and (min-width: 700px) {
  #menu-btn {
    display: none;
  }

  .header-slider {
    display: block;
  }

  .hslide {
    min-width: 100vw;
    transform: translateX(0vw);
  }

  #nav-options {
    display: flex; /* toggle: flex */
    text-align: center;
    flex-direction: row;
    padding: 1em;
    margin-bottom: 4px;
  }

  #nav-options > li {
    height: 60px;
    padding: 0 1em;
    display: table;
    background: transparent;
  }

  #nav-options > li > a {
    display: block;
    color: white;
    width: 100%;
    height: 100%;
  }

  #nav-options > li > a:hover {
    color: #ffcc33;
  }

  #myphoto-info {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  #myphoto-img {
    margin: 0 36px;
  }

  .social-links {
    padding: 1.125em;
    text-align: right;
  }

  .top-article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .top-article > section {
    width: 45%;
  }

  #other {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #other > section {
    width: 45%;
  }
}

/* For Desktop Computers */
@media screen and (min-width: 1024px) {
}
