/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Start Website CSS */
html {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
}

body {
  height: 100%;
}

a, p {
  color: black;
  padding-bottom: 1.5em;
  text-decoration: none;
}

h1 {
  font-size: 2.369em; /* 37.904 px */
  line-height: 0.949767834em; /* 36 px / 37.904 px */
  padding-bottom: 0.31658927em; /* 12 px / 37.904 px */
  font-weight: 700;
}

h2 {
  font-size: 1.777em; /* 28.432 px */
  line-height: 1.125492402em; /* 32 px / 28.432 px */
  padding-bottom: 0.562746201em; /* 16 px / 28.432 px */
  font-weight: 800;
}

h3 {
  font-weight: 900;
  padding-bottom: 0.6666666666em; /* 16 px / 24 px */
}

img,
video,
audio {
  max-width: 100%;
  display: block;
}

header {
  background: url('../img/mobile-coaster.png') top center no-repeat;
  background-size: cover;
}

main, section {
  padding: 1em;
}

main {
  /*background-color: #F8F8F8;*/
}

#menu-toggle-btn {
  font-size: 1em;
  font-weight: 1000;
}

#menu-icon {
  font-size: 1em;
}

/* A. HEADER */
@keyframes slideback {
  0% {margin-left: -100vw;}
  100% {margin-left: 0vw;}
}

.header-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.hslide {
  min-width: 100vw;
}

.first-slide {
  margin-left: -100vw;
  animation-name: slideback;
  animation-duration: 1s;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

/* A1. NAV */
@keyframes nav_anim {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes photo_info {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#menu-btn {
  padding: 24px 36px;
  font-size: 48px;
  background-color: transparent;
  border: none; outline: none;
  color: white;
}

#menu-btn:active {
  color: #ffcc33;
}

#nav-options {
  display: flex; /* toggle: flex */
  text-align: center;
  flex-direction: column;
  padding: 0;
  padding-bottom: 36px;
  animation-name: nav_anim;
  animation-duration: 3s;
}

#nav-options > li {
  height: 60px;
  display: table;
  background-color: rgba(0, 0, 0, 0.2);
}

#nav-options > li > a {
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  padding: 18px 0;
}

#nav-options > li > a:hover {
  color: #ffcc33;
}

.nav-active {
}
/* END NAV */

/* A2. Photo */
#myphoto-info {
  text-align: center;
  padding: 0;
  animation-name: photo_info;
  animation-duration: 1.5s;
}

#myphoto-img {
  width: auto;
  height: 10.5em;
  padding: 1.5em 0em;
  margin: auto;
  animation-name: photo_info;
  animation-duration: 1.5s;
}

#myphoto-text {
  color: white;
}

#myphoto-text > li {
  padding-bottom: 6px;
}

#myphoto-text > li:last-child {
  padding-bottom: 18px;
}

#myphoto-name {
  font-size: 1.5em;
  font-weight: 500;
}

#myphoto-occu {
  font-size: 2em;
  font-weight: 900;
}
/* END PHOTO */

/* A3. Social Media Icons */
.social-links {
  padding: 6px 0px;
  text-align: center;
  padding-bottom: 30px;
  animation-name: photo_info;
  animation-duration: 3s;
}

.social-links > li {
  margin: 0px 6px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: white;
  text-align: center;
  display: inline-block;
}

.social-links > li > a {
  font-size: 16px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
}

.social-links > li > a:hover {
  color: #ffcc33;
}

.social-links > li > a:visited {
  color: black;
}

/* END HEADER */

.whitesection {
  background-color: white;
  border-radius: 0.5em;
}

.title-seperator {
  width: 50%;
  border-top: medium solid #ffcc33;
  padding-bottom: 0.75em;
}
