/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Start Website CSS */
html {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
}

body {
  /*background: url('../img/rollercoaster.jpg') top center no-repeat;*/
  /*background-size: cover;*/
  background-color: skyblue;
  height: 100%;
}

a, p {
  padding-bottom: 1.5em;
  text-decoration: none;
}

h1 {
  font-size: 2.369em; /* 37.904 px */
  line-height: 0.949767834em; /* 36 px / 37.904 px */
  padding-bottom: 0.31658927em; /* 12 px / 37.904 px */
  font-weight: 700;
}

h2 {
  font-size: 1.777em; /* 28.432 px */
  line-height: 1.125492402em; /* 32 px / 28.432 px */
  padding-bottom: 0.562746201em; /* 16 px / 28.432 px */
  font-weight: 800;
}

h3 {
  font-weight: 900;
  padding-bottom: 0.6666666666em; /* 16 px / 24 px */
}

main, section {
  padding: 1em;
}

main {
  /*background-color: #F8F8F8;*/
}

#menu-toggle-btn {
  font-size: 1em;
  font-weight: 1000;
}

#menu-icon {
  font-size: 1em;
}

/* A. HEADER */

/* A1. Social Media Icons */
.social-links {
  padding: 1.5em 0;
  text-align: center;
}

.social-links > li {
  margin: 0em 0.5em;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  background-color: white;
  text-align: center;
  display: inline-block;
}

.social-links > li > i {
  font-size: 1.5em;
  padding-top: 0.5em;
}

/* END HEADER */

.whitesection {
  background-color: white;
  border-radius: 0.5em;
}

.title-seperator {
  width: 50%;
  border-top: medium solid #ffcc33;
  padding-bottom: 0.75em;
}
